In [ ]:
import pandas as pd
import random

In [ ]:
items = pd.read_csv('/content/items.csv')

In [ ]:
items.isnull().sum()

product         0
category        0
product_urls    0
search_links    0
dtype: int64

In [ ]:
ratings = pd.read_csv('/content/AMAZON_FASHION.csv',header=None)

In [ ]:
ratings.isnull().sum()

0    0
1    0
2    0
3    0
dtype: int64

In [ ]:
ratings.describe()

                  2             3
count  883636.00000  8.836360e+05
mean        3.90694  1.456751e+09
std         1.41828  4.430691e+07
min         1.00000  1.036973e+09
25%         3.00000  1.434240e+09
50%         5.00000  1.462234e+09
75%         5.00000  1.484266e+09
max         5.00000  1.538352e+09

In [ ]:
ratings.head()

            0               1    2           3
0  7106116521  A1D4G1SNUZWQOT  5.0  1413763200
1  7106116521  A3DDWDH9PX2YX2  2.0  1411862400
2  7106116521  A2MWC41EW7XL15  4.0  1408924800
3  7106116521  A2UH2QQ275NV45  2.0  1408838400
4  7106116521   A89F3LQADZBS5  3.0  1406419200

In [ ]:
list(ratings.columns)

[0, 1, 2, 3]

In [ ]:
ratings = ratings.rename(columns = {0:'UserID',1:'ProductID',2:'Rating'})

In [ ]:
list(ratings.columns)

['UserID', 'ProductID', 'Rating', 3]

In [ ]:
ratings = ratings.drop(3, axis=1)

In [ ]:
ratings.head()

       UserID       ProductID  Rating
0  7106116521  A1D4G1SNUZWQOT     5.0
1  7106116521  A3DDWDH9PX2YX2     2.0
2  7106116521  A2MWC41EW7XL15     4.0
3  7106116521  A2UH2QQ275NV45     2.0
4  7106116521   A89F3LQADZBS5     3.0

In [ ]:
len(set(ratings['UserID']))

186189

In [ ]:
user_ids = [i for i in range(1,186191)]

In [ ]:
UserId = []
for i in range(len(ratings['UserID'])):
  UserId.append(random.choice(user_ids))

In [ ]:
print(len(set(UserId)))

184599

In [ ]:
ratings['UserID'] = UserId

In [ ]:
print(len(set(ratings['UserID'])))

184599

In [ ]:
item_ids = list(items['product'])
ProductId = []
for i in range(len(ratings['ProductID'])):
  ProductId.append(random.choice(item_ids))

In [ ]:
ratings['ProductID'] = ProductId

In [ ]:
ratings.head()

   UserID                         ProductID  Rating
0   82402  492f8a4f803d462886b9667b8b24df6b     5.0
1  167933  bac58a08fa8e1dddc7c1ef6d75ff506b     2.0
2    6094  8545d3fb7c612071939c62fdc99cd921     4.0
3   74978  3caa3cddbfdd9d14428d808a0752c2c5     2.0
4   72211  903907b95752a9eaa1ad88461fb4ec98     3.0

In [ ]:
ratings.to_csv('/content/ratings.csv',index=False)

In [ ]:
normalized_ratings = []
for rating in ratings['Rating']:
  if rating >= 3.0:
    normalized_ratings.append(1)
  else:
    normalized_ratings.append(0)

In [ ]:
ratings['Rating'] = normalized_ratings

In [ ]:
ratings.head()

   UserID                         ProductID  Rating
0   82402  492f8a4f803d462886b9667b8b24df6b       1
1  167933  bac58a08fa8e1dddc7c1ef6d75ff506b       0
2    6094  8545d3fb7c612071939c62fdc99cd921       1
3   74978  3caa3cddbfdd9d14428d808a0752c2c5       0
4   72211  903907b95752a9eaa1ad88461fb4ec98       1

In [ ]:
ratings.to_csv('/content/nom_ratings.csv',index=False)